* {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  background-color: lightblue;
}
body {
  margin: 0;
}

h1 {
  width: 100vw;
  text-align: center;
  margin: 0;
}

#input-section {
  width: 99vw;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  height: 20vh;
  label {
    text-shadow: 4px 4px 8px cornflowerblue;
  }
  button {
    width: 10%;
    box-shadow: 4px 4px 8px cornflowerblue;
  }
  input {
    width: 60%;
    box-shadow: 4px 4px 8px cornflowerblue;
  }
}

#contact-information {
  line-height: 7vh;
  position: fixed;
  bottom: 0;
  width: 99vw;
  height: 7vh;
  font-size: 32px;
  margin: 0;
  background-image: linear-gradient(0, white, lightblue, lightblue);
  display: flex;
  justify-content: space-between;
  a {
    background-image: linear-gradient(0, white, lightblue, lightblue);
    height: 100%;
    width: 10vw;
    align-content: center;
    :hover {
      filter: brightness(70%);
    }
  }
  img {
    display: block;
    margin: auto;
    margin-top: 2vh;
    height: 3vh;
    width: 3vh;
    box-shadow: 4px 4px 8px cornflowerblue;
    background-color: transparent;
  }
}

table {
  position: relative;
  margin-top: 0;
  margin: auto;
  width: 90vw;
  height: 20vh;
  overflow: scroll;
  text-align: center;
  margin-bottom: 10vh;
  th {
    height: 5vh;
    font-size: 20px;
    margin: 0;
  }
  .full-url-cell {
    text-align: left;
  }
  .short-url-cell {
    cursor: pointer;
  }
  tr {
    height: 5vh;
    margin-top: 0;
  }
  td {
    margin: 0;
    border: 1px solid rgba(0, 0, 255, 0.322);
  }
}

#copy-tooltip {
  width: 20vw;
  text-align: center;
  background-color: rgba(47, 79, 79, 0.548);
  border: 2px solid rgba(47, 79, 79, 0.3);
  position: fixed;
  width: 100%;
  bottom: 7vh;
}

#response-div {
  height: 5vh;
  text-align: center;
  font-size: 20px;
  line-height: 5vh;
  background-color: rgba(43, 122, 226, 0.5);
  transition: 500ms;
  margin: 0;
}
